{
    "ip": "*mgmt_ip*",
    "api_url": "https://*mgmt_ip*/pvl/v1.0/chassis/inventory",
    "method": "GET",
    "header": { "Content-Type": "application/json;charset=UTF-8" },
    "req_data": "None"
}