{
    "ip": "*mgmt_ip*",
    "api_url": "https://*mgmt_ip*/api/v1.0/storage/mediagroups/create",
    "method": "POST",
    "header": { "Content-Type": "application/json;charset=UTF-8" },
    "req_data": { "media_zone":"*media_zone*","media_group_type":"*media_group_type*","name":"*name*" }
}