{
    "ip" : "%s",
    "api_url": "https://%s/api/v1.0/storage/snapshots/create",
    "method": "POST",
    "header": { "Content-Type": "application/json;charset=UTF-8" },
    "req_data": {
        "name": "%s",
        "type": "%s",
        "parent_id": "%s",
    }
}


