{
    "ip" : "*mgmt_ip*",
    "api_url": "https://*mgmt_ip*/api/v1.0/storage/snapshots/create",
    "method": "POST",
    "header": { "Content-Type": "application/json;charset=UTF-8" },
    "req_data": {
        "name": "*name*",
        "type": "*type*",
        "parent_id": "*parent_id*",
        "reservation":"*reservation*"
    }
}

