{
    "ip": "*mgmt_ip*",
    "api_url": "https://*mgmt_ip*/api/v1.0/chassis/controllers/poweroff",
    "method": "POST",
    "header": { "Content-Type": "application/json;charset=UTF-8" },
    "req_data": {"device_category":"waca","controller_list":[*cntrl*]}
}
