{
    "ip": "*mgmt_ip*",
    "api_url": "https://*mgmt_ip*/api/v1.0/storage/mediagroupdefinitions/enable",
    "method": "POST",
    "header": {"Content-Type": 'application/json;charset=utf-8'},
    "req_data": {"def_list":["*def_id*"]}
}

