{
    "ip": "*mgmt_ip*",
    "api_url": "https://*mgmt_ip*/api/v1.0/chassis/controllers?type=*ctlr_type*",
    "method": "GET",
    "header": { "Content-Type": "application/json;charset=UTF-8" },
    "req_data": "None"
}



