{
    "ip": "*mgmt_ip*",
    "api_url": "https://*mgmt_ip*/api/v1.0/chassis/controllers/*controller_no*/networks",
    "method": "GET",
    "header": {"Content-Type": 'application/json;charset=utf-8'},
	"req_data": "None"
}

