{
    "ip": "*mgmt_ip*",
    "api_url": "https://*mgmt_ip*/api/v1.0/storage/mediagroups/*media_grp_id*/recover",
    "method": "POST",
    "header": {"Content-Type": 'application/json;charset=utf-8'},
    "req_data":{"grp": *grp*,"priority": "APPLICATION"}
}