{
	"ip": "*mgmt_ip*",
	"api_url": "https://*mgmt_ip*/api/v1.0/storage/volumes/unassign?save=%7B%22method%22:%22POST%22%7D",
	"method": "POST",
	"header": {
		"Content-Type": 'application/json;charset=utf-8'
	},
	"req_data":{"volidlist":["*vol_id*"]}

}




